/* *
                      * ==================== INDEX OF FILE ==================== *
                      * Main Style (Which is the main styling in the all pages we created)
                      * Main Tags (Which contains the tags have initial styles)
* */

/* * ==========================
        * #Main-Styles
* ========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #292929;
  --white-color: rgb(240, 240, 240);
  --main-blue: #3d5a80;
  --main-lighter-blue: #98c1d9;
  --main-lighter-green: #e0fbfc;
  --main-pink: #ee6c4d;
  --main--dark-blue: #293241;
  --font-size-main: 14px;
  --mx: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

::selection {
  color: var(--main-lighter-green);
  background-color: var(--main-blue);
}

html {
  /* height: 20000px; */
  font-size: var(--font-size-main);
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-color);
  font-family: "Poppins", sans-serif;
}

/* * ==========================
        * #Main-Tags
* ========================== */

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
